<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro cliente</title>
    <link rel="stylesheet" href="/estilos.css">

</head>

<body>

    <h1>Formulario de Registro</h1>
    <form action="/validar" method="post">
        <input type="text" name="nombre_cliente" id="nombrec" placeholder="Nombre completo"><br>
        <input type="number" name="documento_cliente" id="documentoc" placeholder="Documento"><br>
        <input type="text" name="direccion_cliente" id="direccionc" placeholder="Direccion"><br>
        <input type="number" name="telefono_cliente" id="telefonoc" placeholder="Telefono"><br>
        <input type="email" name="email_cliente" id="emailc" placeholder="Email"><br>
        <input type="submit" value="Registrar">
    </form>

    
</body>
</html>